<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,895},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,761},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,627},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,493},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,359},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,895},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,761},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,627},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,493},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,359},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,269},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,181},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,181},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,181},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,181},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,181},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,805},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,671},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,537},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,403},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,269},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,135},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,91},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,91},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,91},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,91},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,91},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,91},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,1},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,817},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,681},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,545},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,409},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,137},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,1},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,1},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{89,133}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>down_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,953},{37,41}}</string>
                <key>offset</key>
                <string>{26,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,4},{37,41}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>down.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffa53ed006a4fb460ee68166a7c2b39c$</string>
            <key>textureFileName</key>
            <string>down.png</string>
        </dict>
    </dict>
</plist>
