<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>out_ver_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,905},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,770},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,635},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,500},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,365},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,905},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,770},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,2},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,635},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,500},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,365},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,274},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,184},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,184},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,184},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,184},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,184},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,814},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,679},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,544},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,409},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,274},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,2},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,139},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,93},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,824},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,687},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{89,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,135}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,93},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,93},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,93},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,93},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,93},{89,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{89,133}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
            <key>out_ver_bao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{33,39}}</string>
                <key>offset</key>
                <string>{28,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{89,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>out_ver.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32e3b0cdcd417677e07575f163c272e3$</string>
            <key>textureFileName</key>
            <string>out_ver.png</string>
        </dict>
    </dict>
</plist>
