<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim_shunz_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,220},{216,58}}</string>
                <key>offset</key>
                <string>{-21,-161}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,324},{216,58}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
            <key>anim_shunz_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{216,94}}</string>
                <key>offset</key>
                <string>{-21,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,288},{216,94}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
            <key>anim_shunz_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,748},{216,196}}</string>
                <key>offset</key>
                <string>{-21,-94}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,188},{216,196}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
            <key>anim_shunz_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,438},{216,308}}</string>
                <key>offset</key>
                <string>{-21,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,75},{216,308}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
            <key>anim_shunz_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{224,382}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,382}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
            <key>anim_shunz_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{244,382}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,382}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
            <key>anim_shunz_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{250,382}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,382}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
            <key>anim_shunz_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{258,382}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,382}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
            <key>anim_shunz_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{258,382}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,382}}</string>
                <key>sourceSize</key>
                <string>{258,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shunz.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:197da63971f92a2e0634008b95499a41$</string>
            <key>textureFileName</key>
            <string>shunz.png</string>
        </dict>
    </dict>
</plist>
